<html>

<head>
    <link rel="stylesheet" href="/static/db/new.css" type="text/css">
    <script src="//d3js.org/d3.v3.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300|Didact+Gothic|Marmelad|Tenor+Sans&subset=latin,cyrillic'
        rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="main">
        <div class="menu">
            <div class="item">
                аналитика за период
            </div>
            <div class="item">
                новостные темы
            </div>
            <div class="item">
                категории
            </div>
            <div class="item">
                <a href="/tags" class="link">
                    ключевые слова
                </a>
            </div>

            <div class="item">
                что это?
            </div>
        </div>
        <div class="timeline" onmousedown="event.preventDefault ? event.preventDefault() : event.returnValue = false">
        </div>
    </div>
    <script src="/static/db/timeline.js">

    </script>
</body>

</html>