<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NewsGear</title>

      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


     <style>

    .node circle {
      cursor: pointer;
      stroke: #3182bd;
      stroke-width: 1.5px;
    }

    .node text {
      font: 12px sans-serif;
      pointer-events: none;
      text-anchor: middle;
    }

    line.link {
      fill: none;
      stroke: #9ecae1;
      stroke-width: 5px;
    }

    </style>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/main">NewsGear</a>
          <a class="navbar-brand" href="/news_theme">News Info</a>
    </nav><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-12">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <div class="row">
                <div class="col-md-11"><h1>{{ news.title }}</h1></div>
                {% if emo > 0.5 %}
                    <div class="col-md-1 "><h3><span class="label label-success">Good</span></h3></div>
                {% else %}
                    <div class="col-md-1 "><h3><span class="label label-danger">Bad</span></h3></div>
                {% endif %}
            </div>
              <div class="row">
                <div class="col-md-4"><p class="text-left"><a href={{ news.url }}>{{ news.site.name }}</a></p></div>
                <div class="col-md-4">
                    {% for tag in news.newstext.tags.all %}
                        /{{ tag.tag }}
                    {% endfor %}/
                </div>
{#                <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>#}
                <div class="col-md-4"><p class="text-right">{{ news.pub_date| date }}</p></div>
            </div>
          </div>
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

      </div><!--/row-->


{#    <div class="row">#}
{#        {% for tag in news.related_news.all %}#}
{#            <div class="col-md-4">{{ tag.title }}</div>#}
{#        {% endfor %}#}
{#    </div><!--/row-->#}

    <xz></xz>
    <hr>

      <footer>
        <p>&copy; 2016 NewsGear</p>
      </footer>

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{#    <script src="/static/offcanvas.js"></script>#}
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/static/db/jchart.js"></script>
{#    <script>#}
{#        $(document).ready(function() {#}
{#            $("#bar_of_pies").jChart();#}
{#        });#}
{#    </script>#}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script>
        var width = 1500,
        height = 500,
        root;

        var force = d3.layout.force()
            .linkDistance(350)
            .charge(-120)
            .gravity(.01)
            .size([width, height])
            .on("tick", tick);

        var svg = d3.select("xz").append("svg")
            .attr("width", width)
            .attr("height", height);

        var link = svg.selectAll(".link"),
            node = svg.selectAll(".node");

        d3.json("related_news", function(error, json) {
          if (error) throw error;

          root = json;
          update();
        });

        function update() {
          var nodes = flatten(root),
              links = d3.layout.tree().links(nodes);

          // Restart the force layout.
          force
              .nodes(nodes)
              .links(links)
              .start();

          // Update links.
          link = link.data(links, function(d) { return d.target.id; });

          link.exit().remove();

          link.enter().insert("line", ".node")
              .attr("class", "link");

          // Update nodes.
          node = node.data(nodes, function(d) { return d.id; });

          node.exit().remove();

          var nodeEnter = node.enter().append("g")
              .attr("class", "node")
              .on("click", click)
              .call(force.drag);

          nodeEnter.append("circle")
                .attr("r", function(d) { return 50; });


{#          nodeEnter.append("text")#}
{#              .attr("dy", ".35em")#}
{#              .text(function(d) { return d.name; });#}

          nodeEnter.append("a")
              .attr("xlink:href", "/main/?page=2")
              .append("text")
              .attr("dy", ".35em")
              .text(function(d) { return d.name; });

          node.select("circle")
              .style("fill", color);
        }

        function tick() {
          link.attr("x1", function(d) { return d.source.x; })
              .attr("y1", function(d) { return d.source.y; })
              .attr("x2", function(d) { return d.target.x; })
              .attr("y2", function(d) { return d.target.y; });

          node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
        }

        function color(d) {
          return d._children ? "#3182bd" // collapsed package
              : d.children ? "#c6dbef" // expanded package
              : "#f0ad4e"; // leaf node
        }

        // Toggle children on click.
        function click(d) {
          if (d3.event.defaultPrevented) return; // ignore drag
          if (d.children) {
            d._children = d.children;
            d.children = null;
          } else {
            d.children = d._children;
            d._children = null;
          }
          update();
        }

        // Returns a list of all nodes under the root.
        function flatten(root) {
          var nodes = [], i = 0;

          function recurse(node) {
            if (node.children) node.children.forEach(recurse);
            if (!node.id) node.id = ++i;
            nodes.push(node);
          }

          recurse(root);
          return nodes;
        }

    </script>
  </body>
</html>
