<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="stylesheet" href="/static/db/news.css" type="text/css">
    <script src="//d3js.org/d3.v3.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <script>var emoWeight = {{ news.newstext.newsemotions.emo_weight }}, newsId = {{ news.pk }};</script>
</head>

<body>
    <div class="main">
        <div class="container">
            <div class="news">
                <div class="tags">
                    {% if news.newstext.newstags_set.exists %}
                        {% for tag in news.newstext.newstags_set.all %}
                            <span class="cu_tag">{{ tag.tag.tag.upper }}</span> 
                        {% endfor %} 
                    {% endif %}
                </div>
                <div class="news_text">
                    <h2>{{ news.site.name }}</h2>
                    <h1>{{ news.title }}</h1>
                </div>
                <div class="keys">
                    {% if news.keyword_set %}
                        {% for k in news.keyword_set.all %}
                            <a href="/tags/{{ k.word }}">
                                <span style="font-size:{{ k.cnt_n }}em">{{ k.word }}</span>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="svg"></div>
        </div>
    </div>
    <script src="/static/db/news.js"></script>
</body>

</html>