* {
   margin: 0;

}
.main {
    height: 100vh;
    width: 100%;
    background-color: gray;    
}

.menu {
    display: block;
    height: 100%;
    width: 30%;
    background-color: white;
    float: left;
    
}
.item:first-child {
    padding-top: 40px;
}
.item {
    color: #00173e;
    margin: 10px;
    margin-left: 45px;
    font-family: "Roboto Slab";
    font-size: 1.5em;
}

.item:last-child {
    color: #ec1737;
}

.item:hover {
    border-bottom: 1px black solid;
}

.timeline {
    height: 100%;
    width: 70%;
    display: block;
    float: left;
}
svg {
    background: white;
}
svg line {
    stroke: #646464;
    stroke-width: 2;
}
svg rect {
    stroke:  #646464;
    stroke-width: 2;
    fill:white;
    fill-opacity: 0.9;
}

.shadow {
    opacity: 0.5;
}

.title {
    color: #00173e;
    font-family: "Roboto Slab";
    font-size: 1em;
    fill: #00173e;
}

.date {
    color: #00173e;
    font-family: "Roboto Slab";
    font-size: 1em;
    fill: #00173e;
}

.cnt_rect:hover {
    fill: #00173e;
}


.link {
    text-decoration: none;   
    color: #00173e; 
}

