* {
   margin: 0;

}
.main {
    height: 100vh;
    width: 100%;
    background-color: gray;    
}

.menu {
    display: block;
    height: 100%;
    width: 30%;
    background-color: white;
    float: left;
    
}
.item:first-child {
    padding-top: 40px;
}
.item {
    color: #00173e;
    margin: 10px;
    margin-left: 45px;
    font-family: "Roboto Slab";
    font-size: 1.5em;
}

.item:last-child {
    color: #ec1737;
}

.item:hover {
    border-bottom: 1px black solid;
}

.timeline {
    height: 100%;
    width: 70%;
    display: block;
    float: left;
}
svg {
    background: white;
}
svg line {
    stroke: #646464;
    stroke-width: 2;
}
svg rect {
    stroke:  #646464;
    stroke-width: 2;
    fill:white;
    fill-opacity: 0.9;
}

.shadow {
    opacity: 0.5;
}

.title {
    color: #00173e;
    font-family: "Roboto Slab";
    font-size: 1em;
    fill: #00173e;
}

.date {
    color: #00173e;
    font-family: "Roboto Slab";
    font-size: 1em;
    fill: #00173e;
}

.cnt_rect:hover {
    fill: #00173e;
}


.link {
    text-decoration: none;   
    color: #00173e; 
}

.container {
    height: 100%;
    width: 80%;
    margin: auto;
}

.news {
    position: relative;
    background-color: white;
    display: block;
    float: left;
    height: 100%;
    width: 60%;
}
.svg {
    background-color: white;
    display: block;
    float: left;
    height: 100%;
    width: 40%;
}

.tags {
    margin: 0 auto;
    margin-top: 10%;
    width: 70%;
    text-align: center;
}
.cu_tag {
    display: inline-block;
    padding: 0 10px;
    font-size: 2rem;
}
.news_text h2 {
    margin-top: 5%;
    margin-right: 1%;
    text-align: right;
}
.news_text h1
{
    font-size: 3rem;
    margin-top: 1%;
    text-align: center;
}    
.keys {
    position: absolute;
    text-align: center;
    bottom: 0;
    margin-bottom: 5%;
}
.keys a {
    text-decoration: none;
}
.news_line{
    stroke:  black;
    stroke-width: 1;
    fill:white;
    
}

.news_line:hover {
    opacity: 1;
    stroke: red;
}